html,body {
    background-color: #dedede;
    height: 100%;
    width: 100%;
    margin: 1%; padding: 0;
    font-family: Verdana, Arial;
    font-size: 1em;
    overflow: hidden;
    color: #ffffff;
}

.arcinfo {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    padding: 13px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 6px / 10px;
    border-radius: 6px / 10px;
    font: normal 16px/1 Tahoma, Geneva, sans-serif;
    color: rgba(212,232,249,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #1c7055;
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) , 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) , 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5) , 1px 1px 1px rgba(0,0,0,0.2) ;
} 

a {
    color: #afafa0;
    text-decoration: none;
}

a:hover {
    color: #afafa0;
    text-decoration: underline;
}

#header {
    font-family: Verdana, Arial;
    font-size: 1em;
    overflow: hidden;
    color: #202020;
}

p {
    margin-bottom: 20px;
}

#map {
    height: 86%;
    width: 96%;
    padding: 0; margin: 0;
}

#clock {
    position: absolute;
    left: 80%;
    top: 8%;
    z-index: 9999;
    color: #0000ff;
    font-size: 2em;

}

#content {
    font-size: 1em;
}

#osm {
    font-size: 0.7em;
    font-style: italic;
    margin-bottom: 20px;
}